# git stuff
.DS_Store

# packages
node_modules
composer.phar
/vendor/

# config and sensitive info
config.*
php.ini
phpinfo.php
check.php

# error logging
error_log
php_errors.log
old_*
bootstrap.*
webColors.json

# dependencies and package mngrs
node_modules
composer.phar
/vendor/

# binaries
img_uploads
uploads

# db backups
CDLdump.sql

# other backups
*.bak
