# git stuff
.DS_Store

# for devs eyes only
config.*
php.ini
phpinfo.php
check.php
test.php
error_log
php_errors.log
old_*
bootstrap.*
webColors.json
database.json
migrations/
templates/template_fcns/tables.xml.twig

# dependencies and package mngrs
node_modules
composer.phar
/vendor/

# db backups
CDLdump.sql

# other backups
*.bak
