@import './assets/typicons-font/src/font/typicons.css';

* {
    /* Bootsrap breakpoints */
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --bs-jumbo-grey: #e9ecef;
    --quarter-trans-grey: #0000003f;
    --tenth-trans-grey: #00000018;
    --yellow: #feb24c;
    --vta-bright-blue: #3eb4e6;
    --vta-blue: #0072c6;
    --vta-dark-blue: #03528B;
}

body {
   margin:0;
   background-color:#FFFFFF;
}

a:hover {
    color: #03528B;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

ul li {
    list-style-type: none;
}

/* a tighter container, adabted from Bootstrap */
.constrainer {
    width: 100%;
}

.half-container {
    width: 100%;
}
.half-container:not(:last-child) {
    margin: 0;
}

@media screen and (min-width: 576px) {
    .constrainer {
        width: 80%;
    }
}
@media screen and (min-width: 768px) {
    .constrainer {
        width: 50%;
    }
    .half-container {
        max-width: calc(50% - .75rem);
    }
    .half-container:not(:last-child) {
        margin-right: .75rem;
    }
}
/*@media screen and (min-width: 992px) {
    .constrainer {
        width: 50%;
    }
}*/
/*@media screen and (min-width: 1200px) {
    .constrainer {
        width: 50%;
    }
}*/

.center-element {
    margin-left: auto; margin-right: auto;
}

.center-content {
    text-align: center;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.no-wrap {
    flex-wrap: nowrap;
}

.space-between {
    justify-content: space-between;
}

.flex {
    flex-grow: 1; flex-shrink: 1;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}

.item-margin-right:not(:last-child) {
    margin-right: .75rem;
}

.item-margin-bottom:not(:last-child) {
    margin-bottom: .85rem;
}

.item-border-bottom:not(:last-child) {
    border-bottom: 1px solid var(--quarter-trans-grey);
}

.grey-bg {
    background-color: var(--bs-jumbo-grey);
}

/* Navbar */
.navbar-heading {
    max-width: 13.5rem;
    overflow-x: hidden;
}

.navbar-brand-link {
    color: white;
    text-decoration: none;
}

.navbar-brand-link:hover {
    color: #fff9;
    text-decoration: none;
}

.navbar-vta-blue {
    background-color: var(--vta-dark-blue);
    color: white;
}

/* Page Header */
.jumbotron h1 {
    text-align: center;
    font-size: 5.9vw;
}

.page-header {
    margin-top: 3.5rem; margin-bottom: .35rem;
    padding-top: .5rem; padding-bottom: .6rem;
}

.page-header h1, .page-header h2, .page-header h3,
.page-header h4, .page-header h5, .page-header h6 {
    text-align: center;

}

.open-def {
    background-color: red;
}

.closed-def {
    background-color: green;
}

.masthead-logo {
    margin-right: 1rem;
    height: 3rem;
}

/* Content CSS */
.main-content {
    margin-bottom: 4.5rem;
}

.logo-md {
    width: 127px;
}

.heading-card {
    margin-bottom: 1rem;
}

.page-heading-panel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.page-heading-panel>:nth-child(n) {
    flex: 0 1 auto;
    margin: 0;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.page-heading-panel>p {
    hyphens: auto;
}

.def-nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row nowrap;
    margin-bottom: .65rem;
    padding: 0;
}

.def-nav-btn {
    display: block;
}

.nav-cur-page {
    background: var(--secondary);
    box-shadow: 0 0 .3rem .15rem #007bff40;
    color: var(--dark);
}

a.nav-cur-page:hover, button.nav-cur-page:hover {
    background: var(--secondary);
}
/* Login Page */
.login-container {
    text-align:center;
}

.login-field {
    margin-bottom:.5rem;
}

.login-btn {
    display: block;
    margin: .25rem auto .5rem;
}

.forgot-password-btn {
    text-decoration: underline;
}
/* Data Dashboard*/
.dashboard {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.dash-card {
    margin-bottom: 1.25rem;
    width: 100%;
}

@media screen and (min-width: 576px) {
    .dash-card {
        max-width: 46%;
    }
    
    .dash-card:nth-child(2n + 1) {
        margin-right: 2%;
    }
}

.dash-card .card-header, .dash-card .card-footer {
    text-align: center;
}

.dash-card .card-header {
    background-color: var(--vta-dark-blue);
    color: white;
}

.dash-list {
    margin: 0;
    margin-bottom: 1.25rem;
    padding: 0;
}

/*.dash-list-heading {
    background: var(--secondary);
    color: white;
}*/

.dash-list-heading, .dash-list-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: .125rem;
    padding: 0 1rem;
    list-style-type: none;
}

.dash-list-item:not(:last-child) {
    border-bottom: 1px solid #0002;
}

.dash-list-left, .dash-list-right {
    display: block;
    width: 48%;
    text-align: center;
}

.data-display {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.chart-container {
    margin-right: .85rem;
}

.legend {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: .65rem;
}

.legend-label {
    margin-right: .25rem;
    margin-bottom: .35rem;
}

.legend-swatch {
    margin-right: .25rem;
    padding: 0 24px 3px 0;
}

.dash-card .card-footer {
    background-color: var(--bs-jumbo-grey);
    border-top: none;
    padding-bottom: 1.75rem;
}

.dash-card-tot {
    margin-bottom: .5rem;
    border: 1px solid var(--quarter-trans-grey);
    padding: .75rem;
}
/* User Page */
.user-role-title {
    font-style: italic;
}

.user-menu {
    margin: 0;
    margin-bottom: 1.15rem;
}

.user-menu-list {
    margin: 0;
    padding-bottom: 1.4rem;
}

.user-menu-item {
    list-style-type: none;
}

.user-menu-item:not(:last-child) {
    margin-bottom: .85rem;
}

.user-menu-item a {
}

.user-menu-item a:hover {
}

.admin-menu-item {}

.superadmin-menu-item {}

/* Forms CSS */
.form-control:focus {
    border-color: var(--yellow);
    box-shadow: 0 0 2px 1px var(--yellow);
}

.form-section-heading {
    margin: 0;
    margin-bottom: .25rem;
    padding: .5rem .75rem .55rem;
}

.form-section {
    padding-bottom: .5rem;
}

.form-subsection {
    margin-bottom: .25rem;
    padding: .5rem 1rem .65rem;
}

.form-subsection:not(:last-child) {
    border-bottom: 1px solid var(--quarter-trans-grey);
}

.form-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.input-label {
    margin: 0;
}

.def-input {
    min-width: 150px;
}

.label-breakline:after {
    content: '\A';
    white-space: pre-wrap;
}

select:invalid {
    color: var(--secondary);
}

.textarea-full-width {
    width: 100%;
}

.btn-container {
    text-align: center;
}

.btn-xs {
    border-radius: .15rem;
    padding: .125rem .3rem;
    font-size: .875rem;
    line-height: 1.2;
}

.btn.btn-outline {
    background-color: var(--quarter-trans-grey);
    border: 1px solid var(--secondary);
    color: var(--dark);
}

.btn-outline:hover {
    background-color: var(--tenth-trans-grey);
}

.btn.btn-a {
    color: var(--vta-blue);
}

.btn.btn-a:hover {
    color: var(--vta-dark-blue);
}

/* Table CSS */
/* #Tablet (Portrait) */
/* These are your Bootstrap breakpoints:
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px; */
@media all and (min-width: 768px) and (max-width: 992px) {
    .collapse-md{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;       
    }
}
/* #Mobile (Landscape) */
@media all and (min-width: 576px) and (max-width: 767px) {
    .collapse-sm{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 

}
/*  #Mobile (Portrait) */
@media all and (max-width: 575px) {
    .collapse-xs{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
}

/* sum table is not a proper table, and should be changed */
.sumtable {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width:20%;
}

.sumtd {
    text-align: left;
    padding: 8px;
}

.sumtr:nth-child(even){background-color: #f2f2f2}
/* above sum tables styles must be changed */
.svbx-table, .svbx-table>thead, .svbx-table>tbody,
.svbx-table tr, .svbx-table th, .svbx-table td {
    table-layout: fixed;
}

.svbx-table {
    margin-left: auto; margin-right: auto;
    border: none;
}

.svbx-table .svbx-th {
    background-color: #03528B;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.svbx-table.svbx-th, .svbx-table.svbx-td {
    overflow-x: hidden;
    text-overflow: clip;
}

.svbx-td {
    text-align: left;
}

.svbx-th.status-th {
    width: 40px;
}

.svbx-th.loc-th {
    width: 91px;
}

.svbx-th.sev-th, .svbx-th.created-th {
    width: 85px;
}

.svbx-th.status-th {
    width: 70px;
}

.svbx-th.system-th {
    width: 143px;
}

.svbx-th.updated-th {
    width: 91px;
}

.svbx-th.edit-th {
    width: 56px;
}

.svbx-th.del-th {
    width: 73px;
}
/* End of Table Menu CSS */

/* Footer CSS */

/* resize footer for different screen sizes */
@media screen and (max-width: 576px) {
    .footer {
        font-size: .7rem;
    }
}

@media screen and (min-width: 577px) {
    .footer {
        font-size: normal;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    background: var(--vta-dark-blue);
    color: var(--bs-jumbo-grey);
    text-align: center;
    /*position: absolute;*/
    /*bottom: 0px;*/
    height:auto;
    max-width:100%;
}

footer a:link{
    color:#FFFFFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a:visited{
    color:#FFFFFF;
    text-decoration: none;
}

/* End of Footer CSS */

/* below are DEPRECATED STYLES that are still in use */
.index {
   position: relative;
   color: #03528B;
   font-size: 150%;
   margin-right: auto;
   margin-left: auto;
   height:100%;
   text-align: center;
   overflow:auto;
}

.index a:link {
   color: #03528B;
   text-decoration: none;
}

.index a:hover {
text-decoration: underline;
}

.index a:visited {
   color: #03528B;
   text-decoration: none;
}