@import './assets/typicons.font/src/font/typicons.css';

* {
    /* Bootsrap breakpoints */
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --bs-jumbo-grey:#e9ecef;
    --vta-blue:#03528B;
}

body {
   margin:0;
   background-color:#FFFFFF;
}

a:hover {
    color: #03528B;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

/* Navbar */
.navbar-heading {
    max-width: 13.5rem;
    overflow-x: hidden;
}

.navbar-brand-link {
    color: white;
    text-decoration: none;
}

.navbar-brand-link:hover {
    color: #fff9;
    text-decoration: none;
}

.navbar-vta-blue {
    background-color: var(--vta-blue);
    color: white;
}

/* Page Header */
.jumbotron h1 {
    text-align: center;
    font-size: 5.9vw;
}

.page-header {
    margin-top: 3.5rem; margin-bottom: .35rem;
    padding-top: .5rem; padding-bottom: .6rem;
}

.page-header h1, .page-header h2, .page-header h3,
.page-header h4, .page-header h5, .page-header h6 {
    text-align: center;
}

.def-heading {
    margin-bottom: 0;
    color:white;
}

.open-def {
    background-color: red;
}

.closed-def {
    background-color: green;
}

.masthead {
}

.masthead-logo {
    margin-right: 1rem;
    height: 3rem;
}

/* Content CSS */
.main-content {
    margin-bottom: 4.5rem;
}

.logo-md {
    width: 127px;
}

.grey-bg {
    background-color: var(--bs-jumbo-grey);
}

.btn-container {
    text-align: center;
}

.def-table-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.def-nav {
    padding: 0;
}

.def-nav li {
    display: inline;
    list-style-type: none;
}

.def-nav li:not(:last-child) {
    margin-right: 2rem;
}

/* Login Page */
.login-container {
    text-align:center;
}

.login-field {
    margin-bottom:.5rem;
}

.login-btn {
    display: block;
    margin: .25rem auto .5rem;
}

.forgot-password-btn {
    text-decoration: underline;
}

/* User Page */
.user-role-title {
    font-style: italic;
}

.user-menu {
    margin: 0;
    margin-bottom: 1.15rem;
}

.user-menu-list {
    margin: 0;
    padding-bottom: 1.4rem;
}

.user-menu-item {
    list-style-type: none;
}

.user-menu-item:not(:last-child) {
    margin-bottom: .85rem;
}

.user-menu-item a {
}

.user-menu-item a:hover {
}

.admin-menu-item {}

.superadmin-menu-item {}

/* Forms CSS */
.btn-xs {
    border-radius: .15rem;
    padding: .125rem .3rem;
    font-size: .875rem;
    line-height: 1.2;
}

/* Table CSS */
/* #Tablet (Portrait) */
/* These are your Bootstrap breakpoints:
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px; */
@media all and (min-width: 768px) and (max-width: 992px) {
    .collapse-md{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;       
    }
}
/* #Mobile (Landscape) */
@media all and (min-width: 576px) and (max-width: 767px) {
    .collapse-sm{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 

}
/*  #Mobile (Portrait) */
@media all and (max-width: 575px) {
    .collapse-xs{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
}

.vdtable {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width:50%;
    vertical-align:top;
    min-width: 400px; /* 100px x4 = 300 */
    margin-top: 4rem;
}

.vdth {
    background-color: #03528B;
    color: white;
    border: 1px solid black;
    text-align: center;
}

.vdtdh {
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
    padding: 8px;
    border: 0.5px solid black;
    border-right: none; 
}

.vdtda {
    text-align: left;
    vertical-align: middle;
    padding: 8px;
    border: 0.5px solid black;
    border-left: none; 
}

.vdtr {
    text-align: left;
}

.sumtable {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width:20%;
}

.sumth {
    background-color: #03528B;
    color: white;
    border: 1px solid black;
    text-align: center;
}

.sumtd {
    text-align: left;
    padding: 8px;
}

.sumtr:nth-child(even){background-color: #f2f2f2}

.userth {
    background-color: #03528B;
    color: white;
    border: 1px solid black;
    text-align: center;
}

.usertd {
    text-align: left;
    padding: 8px;
}

.def-tr:nth-child(even){background-color: var(--bs-jumbo-grey)}

.svbx-table {
    /*display:block;*/
    overflow-x:scroll;
    margin-left: auto; margin-right: auto;
    border: 1px solid black;
    vertical-align:top;
}

.svbx-th {
    background-color: #03528B;
    color: white;
    border: 1px solid white;
    text-align: center;
}

.svbx-td {
    text-align: left;
    padding: 8px;
}

@media screen and (min-width: 577px) {
    .dash-table {
        display: inline-block;
        max-width: 48%;
    }
}

.def-tot, .def-count {
    text-align: center;
}

.svbx-tr:nth-child(even){background-color: #f2f2f2}
/* End of Table Menu CSS */

/* Footer CSS */

/* resize footer for different screen sizes */
@media screen and (max-width: 576px) {
    .footer {
        font-size: .7rem;
    }
}

@media screen and (min-width: 577px) {
    .footer {
        font-size: normal;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    background: var(--vta-blue);
    color: var(--bs-jumbo-grey);
    text-align: center;
    /*position: absolute;*/
    /*bottom: 0px;*/
    height:auto;
    max-width:100%;
}

footer a:link{
    color:#FFFFFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a:visited{
    color:#FFFFFF;
    text-decoration: none;
}

/* End of Footer CSS */

#app {
display: inline-block;
}

/* below are DEPRECATED STYLES that are still in use */
.index {
   position: relative;
   color: #03528B;
   font-size: 150%;
   margin-right: auto;
   margin-left: auto;
   height:100%;
   text-align: center;
   overflow:auto;
}

.index a:link {
   color: #03528B;
   text-decoration: none;
}

.index a:hover {
text-decoration: underline;
}

.index a:visited {
   color: #03528B;
   text-decoration: none;
}

/* *** !!DON'T REUSE IDs!! *** */
#defdd{
    width:150px;
}
