@import './assets/typicons.font/src/font/typicons.css';

* {
    /* Bootsrap breakpoints */
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --bs-jumbo-grey:#e9ecef;
    --vta-dk-blue:#03528B;
}

body,html {
    height: 100%;
}

body {
   margin:0;
   background-color:#FFFFFF;
}

a:hover {
    color: #03528B;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

/* Page Header */
.jumbotron h1 {
    text-align: center;
    font-size: 5.9vw;
}

.page-header {
    margin-top: 3.5rem; margin-bottom: .35rem;
    padding-top: .5rem; padding-bottom: .6rem;
}

.def-heading {
    color:white;
}

.open-def {
    background-color: red;
}

.closed-def {
    background-color: green;
}

.masthead {
}

.masthead-logo {
    margin-right: 1rem;
    height: 3rem;
}

.page-title {
    font-size: 2.5rem;
    text-align: center;
}

/* Content CSS */
.logo-md {
    width: 127px;
}

.main-content {
    margin-top:3.5rem;
}

.grey-back {
    background-color: var(--bs-jumbo-grey);
}

.login-container {
    text-align:center;
}

.login-field {
    margin-bottom:.5rem;
}

.login-btn {
    display: block;
    margin: .25rem auto .5rem;
}

.forgot-password-btn {
    text-decoration: underline;
}
/* End of Content CSS */

/* Forms CSS */
.btn-xs {
    border-radius: .15rem;
    padding: .125rem .3rem;
    font-size: .875rem;
    line-height: 1.2;
}

/* Table CSS */

/* These classes will collapse cells at the given breakpoints */
/* #Tablet (Portrait) */
/* Note: Design for a width of 768px */
@media all and (min-width: 768px) and (max-width: 959px) {
    td.col_1{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;       
    }
}
/* #Mobile (Landscape) */
/* Note: Design for a width of 600px */
@media all and (min-width: 600px) and (max-width: 767px) {
    td.col_2{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
    th.col_2{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
}
/* #Mobile (Landscape) */
/* Note: Design for a width of 480px */
@media all and (min-width: 480px) and (max-width: 599px) {
    td.col_3{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
    th.col_3{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 

}
/*  #Mobile (Portrait) */
/* Note: Design for a width of 320px */
@media all and (max-width: 479px) {
    td.col_4{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
    th.col_4{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 

}

.vdtable {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width:50%;
    vertical-align:top;
    min-width: 400px; /* 100px x4 = 300 */
    margin-top: 4rem;
}

.vdth {
    background-color: #03528B;
    color: white;
    border: 1px solid black;
    text-align: center;
}

.vdtdh {
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
    padding: 8px;
    border: 0.5px solid black;
    border-right: none; 
}

.vdtda {
    text-align: left;
    vertical-align: middle;
    padding: 8px;
    border: 0.5px solid black;
    border-left: none; 
}

.vdtr {
    text-align: left;
}

.sumtable {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width:20%;
}

.sumth {
    background-color: #03528B;
    color: white;
    border: 1px solid black;
    text-align: center;
}

.sumtd {
    text-align: left;
    padding: 8px;
}

.sumtr:nth-child(even){background-color: #f2f2f2}

.usertable {
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid black;
    width:80%;
}

.userth {
    background-color: #03528B;
    color: white;
    border: 1px solid black;
    text-align: center;
}

.usertd {
    text-align: left;
    padding: 8px;
}

.usertr:nth-child(even){background-color: #f2f2f2}

.svbx-table {
    /*display:block;*/
    overflow-x:scroll;
    margin-left: auto; margin-right: auto;
    border: 1px solid black;
    vertical-align:top;
}

.svbx-th {
    background-color: #03528B;
    color: white;
    border: 1px solid white;
    text-align: center;
}

.svbx-td {
    text-align: left;
    padding: 8px;
}

@media screen and (min-width: 577px) {
    .dash-table {
        display: inline-block;
        max-width: 48%;
    }
}

.def-tot, .def-count {
    text-align: center;
}

.svbx-tr:nth-child(even){background-color: #f2f2f2}
/* End of Table Menu CSS */

/* Footer CSS */
/* resize footer for different screen sizes */
@media screen and (max-width: 576px) {
    .footer {
        font-size: .7rem;
    }
}

@media screen and (min-width: 577px) {
    .footer {
        font-size: normal;
    }
}

.footer {
    background: var(--vta-dk-blue);
    color: var(--bs-jumbo-grey);
    text-align: center;
    /*position: absolute;*/
    /*bottom: 0px;*/
    height:auto;
    max-width:100%;
}

.landing-page + .footer {
    position: absolute;
    bottom: 0px;
}

footer a:link{
    color:#FFFFFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a:visited{
    color:#FFFFFF;
    text-decoration: none;
}

/* End of Footer CSS */

#app {
display: inline-block;
}

/* below are DEPRECATED STYLES that are still in use */
.index {
   position: relative;
   color: #03528B;
   font-size: 150%;
   margin-right: auto;
   margin-left: auto;
   height:100%;
   text-align: center;
   overflow:auto;
}

.index a:link {
   color: #03528B;
   text-decoration: none;
}

.index a:hover {
text-decoration: underline;
}

.index a:visited {
   color: #03528B;
   text-decoration: none;
}

/* *** !!DON'T REUSE IDs!! *** */
#defdd{
    width:150px;
}
