body
{
   background-color:#FFFFFF;
   background-repeat:repeat-x;
   background-position:center top;
   margin:0;
}

h1 {
    color: #000000;
    text-align: center;
}

/* Table CSS */
table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

th {
    background-color: #03528B;
    color: white;
    border: 1px solid white;
    text-align: center;
}

td {
    text-align: left;
    padding: 8px;
    
}

tr:nth-child(even){background-color: #f2f2f2}
/* End of Table Menu CSS */

.class1 {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #03528B;
}

#defdd{
 width:150px;   
}

/* Nav Menu CSS */
nav {
    list-style-type: none;
    margin: 0;
    width: 175px;
    background-color: #3EB4E6;
    position: fixed;
    height: 89.1%;
    overflow: auto;
    text-align: left;
    font-size: 20;
    display: block;
    color: #000000;
    padding: 5px 5px;
    text-decoration: none;
    font-weight: normal;
    float: left
}

/* End of Nav Menu CSS */

/* Content CSS */
.background {
    position: fixed;
    border-style: solid;
    border-color: #47a62a;
    margin-right: auto;
    margin-left: auto;
    height:95%;
    width:97.5%;
    margin: auto;
    padding: 1% 1% 1% 1%; /*top right bottom left*/
    background-repeat:no-repeat;
    background-color: #172123;
    max-width: 1345px;
    background-position: 100% 100%;
    vertical-align: text-top;
    background-size: cover;
}

.sub-content {
   position: relative;
   color: #000000;
   font-size: 150%;
   margin-right: auto;
   margin-left: 12%;
   height:100%;
   text-align: center;
   overflow:auto;
}

.login {
   color: #03528B;
   text-decoration: none;
   border: none;
}

.index {
   position: relative;
   color: #03528B;
   font-size: 150%;
   margin-right: auto;
   margin-left: auto;
   height:100%;
   text-align: center;
   overflow:auto;
}

.index a:link {
   color: #03528B;
   text-decoration: none;
}

.index a:hover {
text-decoration: underline;
}

.index a:visited {
   color: #03528B;
   text-decoration: none;
}

.index-text {
   color: #03528B;
   font-family: Geneva, sans-serif;
   text-align: center;

}

.logo {
   margin-top: 5%;
   margin-right: auto;
   margin-left: auto;
}

.main-content {
   position: relative;
   border-style: solid;
   border-color: #03528B;
   background-color:#ffffff;
   color: #000000;
   margin-right: auto;
   margin-left: auto;
   height:90%;
}

#background1 {
    position: fixed;
    border-style: solid;
    border-color: #47a62a;
    margin-right: 1%;
    margin-left: auto;
    height:95%;
    width:97.5%;
    margin: auto;
    padding: 1% 1% 1% 1%; /*top right bottom left*/
    background-repeat:no-repeat;
    background-color: #172123;
    max-width: 1345px;
    background-position: 100% 100%;
    vertical-align: text-top;
    background-size: cover;
}

#sub-content {
   position: relative;
   color: #000000;
   font-size: 150%;
   margin-right: auto;
   margin-left:15%;
   height:100%;
   text-align: center;
   float: left;
   overflow:auto;
}

#main-content {
   position: relative;
   border-style: solid;
   border-color: #47a62a;
   background-color:#ffffff;
   color: #000000;
   margin-right: 0.5%;
   margin-left: auto;
   height:84%;
}  

.center {
   position: relative;
   border-style: solid;
   border-color: #1a3e95;
   background-color:#ffffff;
   height: auto;
   text-align: center;
   color: #000000;
   font-size: 150%;
   margin-left: auto;
   margin-right: auto;
}  
/* End of Content CSS */

/* Buttons CSS
.button {
   border: 4px solid #1a3f95;
   background: #47a62a;
   background: -webkit-gradient(linear, left top, left bottom, from(#afd9a3), to(#47a62a));
   background: -webkit-linear-gradient(top, #afd9a3, #47a62a);
   background: -moz-linear-gradient(top, #afd9a3, #47a62a);
   background: -ms-linear-gradient(top, #afd9a3, #47a62a);
   background: -o-linear-gradient(top, #afd9a3, #47a62a);
   background-image: -ms-linear-gradient(top, #afd9a3 0%, #47a62a 100%);
   padding: 8px 16px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #ffffff 0 1px 0;
   color: #1a3f95;
   font-size: 16px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 4px solid #47a62a;
   text-shadow: #1a3f95 0 1px 0;
   background: #1a3d95;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#1a3d95));
   background: -webkit-linear-gradient(top, #65a9d7, #1a3d95);
   background: -moz-linear-gradient(top, #65a9d7, #1a3d95);
   background: -ms-linear-gradient(top, #65a9d7, #1a3d95);
   background: -o-linear-gradient(top, #65a9d7, #1a3d95);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #1a3d95 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 4px solid #646464;
   background: #969696;
   background: -webkit-gradient(linear, left top, left bottom, from(#c8c8c8), to(#1a3d95));
   background: -webkit-linear-gradient(top, #c8c8c8, #969696);
   background: -moz-linear-gradient(top, #c8c8c8, #969696);
   background: -ms-linear-gradient(top, #c8c8c8, #969696);
   background: -o-linear-gradient(top, #c8c8c8, #969696);
   background-image: -ms-linear-gradient(top, #c8c8c8 0%, #969696 100%);
   color: #000000;
   }
 End of Buttons CSS */

/* Footer CSS */
footer {
    background: #03528B;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    height:auto;
    width:100%;
}

footer a:link{
    color:#FFFFFF;
    text-decoration: none;
}

footer a:hover {
text-decoration: underline;

}

/* End of Footer CSS */