* {
    --bs-jumbo-grey:#e9ecef;
    --vta-dk-blue:#03528B;
}

body {
   background-color:#FFFFFF;
   margin:0;
}

a:hover {
    color: #03528B;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
} 

/* Content CSS */
.page-header {
    margin-top: 4rem;
}

.masthead-logo {
    margin-right: 1rem;
    height: 3rem;
}

.page-title {
    font-size: 2.5rem;
}

.main-content {
    margin-top:3.5rem;
}

.login-container {
    text-align:center;
}

.login-field {
    margin-bottom:.5rem;
}

.login-btn {
    display: block;
    margin: .25rem auto .5rem;
}

.forgot-password-btn {
    text-decoration: underline;
}
/* End of Content CSS */

/* Forms CSS */
.btn-xs {
    border-radius: .15rem;
    padding: .125rem .3rem;
    font-size: .875rem;
    line-height: 1.2;
}

/* Table CSS */

/* These classes will collapse cells at the given breakpoints */
/* #Tablet (Portrait) */
/* Note: Design for a width of 768px */
@media all and (min-width: 768px) and (max-width: 959px) {
    td.col_1{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;       
    } 
    th.col_1{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse; 
    }

}
/* #Mobile (Landscape) */
/* Note: Design for a width of 600px */
@media all and (min-width: 600px) and (max-width: 767px) {
    td.col_2{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
    th.col_2{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 

}
/* #Mobile (Landscape) */
/* Note: Design for a width of 480px */
@media all and (min-width: 480px) and (max-width: 599px) {
    td.col_3{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
    th.col_3{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 

}
/*  #Mobile (Portrait) */
/* Note: Design for a width of 320px */
@media all and (max-width: 479px) {
    td.col_4{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
    th.col_4{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 

}

.vdtable {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width:50%;
    vertical-align:top;
    min-width: 400px; /* 100px x4 = 300 */
    margin-top: 4rem;
}

.vdth {
    background-color: #03528B;
    color: white;
    border: 1px solid black;
    text-align: center;
}

.vdtdh {
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
    padding: 8px;
    border: 0.5px solid black;
    border-right: none; 
}

.vdtda {
    text-align: left;
    vertical-align: middle;
    padding: 8px;
    border: 0.5px solid black;
    border-left: none; 
}

.vdtr {
    text-align: left;
}

.sumtable {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width:20%;
}

.sumth {
    background-color: #03528B;
    color: white;
    border: 1px solid black;
    text-align: center;
}

.sumtd {
    text-align: left;
    padding: 8px;
    
}

.sumtr:nth-child(even){background-color: #f2f2f2}

.usertable {
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid black;
    width:80%;
}

.userth {
    background-color: #03528B;
    color: white;
    border: 1px solid black;
    text-align: center;
}

.usertd {
    text-align: left;
    padding: 8px;
    
}

.usertr:nth-child(even){background-color: #f2f2f2}

.svbxtable {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width:20%;
    display:inline-block;
    vertical-align:top;
    min-width: 300px; /* 100px x3 = 300 */
}

.svbxth {
    background-color: #03528B;
    color: white;
    border: 1px solid white;
    text-align: center;
}

.svbxtd {
    text-align: left;
    padding: 8px;
    
}

.svbxtr:nth-child(even){background-color: #f2f2f2}
/* End of Table CSS */

/* Footer CSS */
.footer {
    background: #03528B;
    color: #FFFFFF;
    text-align: center;
    position: fixed;
    bottom: 0px;
    height:auto;
    max-width:100%;
}

footer a:link{
    color:#FFFFFF;
    text-decoration: none;
}

footer a:hover {
text-decoration: underline;

}

footer a:visited{
    color:#FFFFFF;
    text-decoration: none;
}

/* End of Footer CSS */

#app {
display: inline-block;
}

/* below are DEPRECATED STYLES that are still in use */
.index {
   position: relative;
   color: #03528B;
   font-size: 150%;
   margin-right: auto;
   margin-left: auto;
   height:100%;
   text-align: center;
   overflow:auto;
}

.index a:link {
   color: #03528B;
   text-decoration: none;
}

.index a:hover {
text-decoration: underline;
}

.index a:visited {
   color: #03528B;
   text-decoration: none;
}

/* *** !!DON'T REUSE IDs!! *** */
#defdd{
    width:150px;
}
