{% extends "manage.html" %}

{% block cardBody %}
    {% import "template_fcns/forms.html" as forms %}
    <form action='/commit/{{ target }}' method='POST' enctype='multipart/form-data' onsubmit=''>
        <input type='hidden' name='category' value='{{ tableName }}'>
        {% for element in formCtrls %}
            {{ element|raw }}
        {% endfor %}
        <button type='submit' class='btn btn-primary btn-lg'>Submit</button>
        <button type='reset' class='btn btn-primary btn-lg'>Reset</button>
    </form>
{% endblock %}