{% set navItems = navbarHeading
    ? {
        'Home': '/dashboard.php',
        'Asset List': '/assets.php',
        'Deficiencies': '/defs.php',
        'Safety Certs': '/viewSC.php',
        'Daily Report': '/idr.php',
        'Help': '/help.php',
        'Logout': '/logout.php'
      }
    : {
        'Home': 'account.php',
        'Help': 'help.php'
      }
%}
{% set navbarHeading = navbarHeading ?: 'Login now' %}
<nav class="navbar navbar-expand-md navbar-dark navbar-vta-blue">
    <span class="navbar-brand navbar-heading">
        <a href='/userAccount.php' class='navbar-link navbar-brand-link'>{{ navbarHeading }}</a>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapseMenu" aria-controls="navbarCollapseMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapseMenu">
        <ul class="navbar-nav mr-auto">
            {% for name, href in navItems %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ href }}">{{ name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>

</nav>