<!DOCTYPE html>
<html>
    <head>
        {{ include('head.html') }}
    </head>
    <body>
        {{ include('nav.html') }}
        <header class='container page-header'>{{ pageHeading }}</header>
        <main class='container main-content'></main>
        <footer class="container footer">
          <p>This information belongs to the <a href='http://www.vta.org'>Valley Transportation Authority</a> and is not to be used without written authorisation from the VTA.</p>
          <p><a href='http://www.vta.org'>&copy;Valley Transportation Authority</a></p>
        </footer>
    </body>
</html>