{% extends "page.html" %}
{% import "template_fcns/tables.xml" as tables %}

{% block content %}
    {% block infobox %}
        <div class='card item-margin-bottom'>
            <div class='card-body grey-bg'>
                <div class='row'>
                    <div class='col-12 d-flex flex-row flex-wrap justify-content-between align-items-center'>
                        <span>{{ info }}</span>
                        <a href='/{{ addPath }}' class='btn btn-outline'>Add new {{ tableName }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block table %}
        {{ tables.createTable(data, tableHeadings) }}
    {% endblock %}
{% endblock %}