{# row function col subarrays in the form of
## [
##   
## ]
#}
{% macro tablelikeRow(cols) %}
    {% if cols is iterable and cols|length %}
        {% set colWd = cols.href
            ? 12 // (cols|length - 1)
            : 12 // (cols|length)
        %}
        {% set extraWd = 12 % (cols|length) %}
        {% set end = cols|keys|last %}
        {% for key, content in cols if not key is same as ('href') %}
            {% set wd = key is same as (end) ? wd + extraWd : colWd %}
            <div class='col-{{ wd }}'>
                {% if key is same as ('name') %}
                    <a href='{{ cols.href }}'>{{ content }}</a>
                {% else %}
                    <span>{{ content }}</span>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class='col-12'>
            <p style='color: red'>$col is not iterable || !($col length)</p>
        </div>
    {% endif %}
{% endmacro %}